---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>

  <article class="post-content">
    {{ content }}
  </article>

</div>

<br/>
<p><em>Вас могут заинтересовать другие статьи:</em></p>

<script type="text/javascript">
  var removeItemFromArray = function(array, item){
    /* assign a empty array */
    var tmp = [];
    /* loop over all array items */
    for(var index in array){
      if(array[index] !== item){
        /* push to temporary array if not like item */
        tmp.push(array[index]);
      }
    }
    /* return the temporary array */
    return tmp;
  }
  var curUrl = "{{ page.url }}";
  var curTitle = "{{ page.title }}";
  console.log([curUrl, curTitle]);
  var postsURL = [{% for post in site.posts %}"{{ post.url }}"{% unless forloop.last %},{% endunless %}{% endfor %}];
  var postsTitle = [{% for post in site.posts %}"{{ post.title }}"{% unless forloop.last %},{% endunless %}{% endfor %}];
  postsURL = removeItemFromArray(postsURL, curUrl);
  postsTitle = removeItemFromArray(postsTitle, curTitle);
  console.log([postsURL, postsTitle]);
</script>


<script type="text/javascript">
  var randomIndexUsed = [];
  var counter = 0;
  var numberOfPosts = Math.min(3, postsURL.length);
  while (counter < numberOfPosts) {
    var randomIndex;
    var postURL;
    var postTitle;
    randomIndex = Math.floor(Math.random() * postsURL.length);
    if (randomIndexUsed.indexOf(randomIndex) == "-1") {
      postURL = postsURL[randomIndex];
      postTitle = postsTitle[randomIndex];
      document.write('<p><a href="' + postURL + '">' + postTitle + '</a></p>');
      randomIndexUsed.push(randomIndex);
      counter++;
    }
  }
</script>
<br/>
<br/>

<div id="disqus_thread"></div>
<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
/*
var disqus_config = function () {
this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://badcircuits-ru.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
